/*оттеночная*/

.colorA {color: #BFA780;}
.colorB {color: #806F55;}
.colorC {color: #FFDFAB;} /*main*/
.colorD {color: #40382B;}
.colorE {color: #E6C89A;}


/*оттеночная 2*/

.colorA {color: #806F55;}
.colorB {color: #40382B;}
.colorC {color: #CCB289;} /*E8CB9B on tag*/
.colorD {color: #A6916F;}
.colorE {color: #BFA780;} /*main*/