<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link rel="stylesheet" href="../static/css/bulma.css">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <header>
        <nav class="">
            <a class="navbar-brand" href="{{ url_for('index')}}">Главная</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('create')}}">Добавить рецепт</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="search">
            <label>
                <input class="search_input" type="text" name="search_content" placeholder="Введите">
                <select id="type_input">
                    <option value="title">Название</option>
                    <option value="ingredient">Ингредиент</option>
                </select>
                <input type="button" value="Найти" onclick="search_generate_url()">
            </label>
        </div>

        

        <div class="tags">
            {% for tag in tags %}
                {% set tag_id =  tag['id'] %}
                <button onclick="search_generate_url('tag', '{{ tag_id }}')" class="tag">{{ tag['title'] }}</button>
            {% endfor %}
        </div>
        
        <form action="/create_tag" method="post">
            <label>
                <input type="text" name="new_tag" placeholder="Название нового тега">
            </label>
            <input type="submit" value="Новый тег">
        </form>
    </header>
    
    <main>
        
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        лм
    </footer>
  </body>
</html>

