{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} {{ page_title }} {% endblock %}</h1>

<!-- Редактирование -->
{% if recipe %}
    <form action="/save" method="POST" enctype="multipart/form-data">
        <h2>{{ page_title }}</h2>
        <label>
            <input type="text" name="title" placeholder="Название рецепта" required value="{{ recipe['title'] }}">
        </label>

        <p>Картинка</p>
        <label>
            <input type="file" name="file">
        </label>

        <div id="inputing">
            <h4>Ингредиенты</h4>
            {% for key in ingredients %}
                <script>
                    addIng("{{ key['ingredient'] }}", "{{ key['quantity'] }}", "{{ key['quantity_spoon'] }}")
                </script>
                
            {% endfor %}
        </div>

        <input type="button" value="Добавить ингредиент" onclick="addInput()">
        <div>
            <h3>Теги</h3>
            {% for tag in use_tags %}
                <label>
                    <input type="checkbox" name="tag" value="{{ tag }}" checked>
                    {{ tag }}
                </label>
            {% endfor %}
            {% for tag in unusing_tags %}
                <label>
                    <input type="checkbox" name="tag" value="{{ tag }}">
                    {{ tag }}
                </label>
            {% endfor %}
        </div>
        <h3>Рецепт</h3>
        <label>
            <textarea name="recipe" required rows="15" cols="55">{{ request.form['recipe'] or recipe['recipe'] }}</textarea>
        </label>

        <label>
            <input type="text" name="source" placeholder="Источник" value="{{ recipe['source'] }}">
        </label>

        <input type="submit" value="Сохранить">
    </form>
{% else %}
<!-- Создание -->
    <form action="/save" method="POST" enctype="multipart/form-data">
        <h2>{{ page_title }}</h2>
        <label>
            <input type="text" name="title" placeholder="Название рецепта" required>
        </label>

        <p>Картинка</p>
        <label>
            <input type="file" name="file">
        </label>

        

        <table class="table">
            <thead>
              <tr>
                <th class="is-size-5 has-text-weight-medium">Ингредиент</th>
                <th class="is-size-5 has-text-weight-medium">Объём</th>
                <th class="is-size-5 has-text-weight-medium">Количество</th>
                <th class="is-size-5 has-text-weight-medium"></th>
              </tr>
            </thead>
            <tfoot>
                <tr>
                  <th class="has-text-weight-light is-size-6">Название</th>
                  <th class="has-text-weight-light is-size-6">Граммы/литры</th>
                  <th class="has-text-weight-light is-size-6">Ложки</th>
                </tr>
              </tfoot>
            <tbody id="table">
                <tr id="input01">
                    <td><label><input type="text" name="ingredient0"></label></td>
                    <td><label><input type="text" name="quantity0"></label></td>
                    <td><label><input type="text" name="quantity_spoon0"></label></td>
                </tr>
            </tbody>
        </table>

        <input type="button" value="Добавить" onclick="addInput()">
        <div>
            <h3>Теги</h3>
            {% for tag in tags %}
                <label>
                    <input type="checkbox" name="tag" value="{{ tag['title'] }}">
                    {{ tag['title'] }}
                </label>
            {% endfor %}
        </div>
        <h3>Рецепт</h3>
        <label>
            <textarea name="recipe" required rows="15" cols="55"></textarea>
        </label>

        <label>
            <input type="text" name="source" placeholder="Источник">
        </label>

        <input type="submit" value="Сохранить">
    </form>
{% endif %}

{% endblock %}