{% extends 'base.html' %}

{% block content %}
  <div class="columns">
    <div class="column is-one-third">
      {% for recipe in recipes[0] %}
        <div class="card my-4">
          <div class="card-image p-auto">
            <figure class="image">
              <img src="{{ recipe['image'] }}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              
              <div class="media-content">
                <p><a href="{{ recipe['url'] }}" class="title is-4">{{ recipe['title'] }}</a></p>
                <p class="subtitle is-6">{{ recipe['source'] }}</p>
              </div>
            </div>
        
            <div class="content">
              {{ recipe['recipe'][0:71] }}...
              <br>
              <time>{{ recipe['created'] }}</time>
            </div>
          </div>
          
        </div>
      {% endfor %}
    </div>

    <div class="column is-one-third">
      {% for recipe in recipes[1] %}
        <div class="card my-4">
          <div class="card-image p-auto">
            <figure class="image">
              <img src="{{ recipe['image'] }}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              
              <div class="media-content">
                <p><a href="{{ recipe['url'] }}" class="title is-4">{{ recipe['title'] }}</a></p>
                <p class="subtitle is-6">{{ recipe['source'] }}</p>
              </div>
            </div>
        
            <div class="content">
              {{ recipe['recipe'][0:71] }}...
              <br>
              <time>{{ recipe['created'] }}</time>
            </div>
          </div>
          
        </div>
      {% endfor %}
    </div>

    <div class="column is-one-third">
      {% for recipe in recipes[2] %}
        <div class="card my-4">
          <div class="card-image p-auto">
            <figure class="image">
              <img src="{{ recipe['image'] }}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              
              <div class="media-content">
                <p><a href="{{ recipe['url'] }}" class="title is-4">{{ recipe['title'] }}</a></p>
                <p class="subtitle is-6">{{ recipe['source'] }}</p>
              </div>
            </div>
        
            <div class="content">
              {{ recipe['recipe'][0:71] }}...
              <br>
              <time>{{ recipe['created'] }}</time>
            </div>
          </div>
          
        </div>
      {% endfor %}
    </div>
  </div>
    {% if pagination_list[1] == 1 %}
      <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" title="This is the first page" disabled href="/?page={{ pagination_list[0] }}">Предыдущая</a>
        <a class="pagination-next" href="/?page={{ pagination_list[2] }}">Следующая</a>
      </nav>
    {% elif pagination_list[1] == 0 %}
      <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" href="/?page={{ pagination_list[0] }}">Предыдущая</a>
        <a class="pagination-next" title="This is the last page" disabled href="/?page={{ pagination_list[2] }}">Следующая</a>
      </nav>
    {% else %}
      <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" href="/?page={{ pagination_list[0] }}">Предыдущая</a>
        <a class="pagination-next" href="/?page={{ pagination_list[2] }}">Следующая</a>
      </nav>
    {% endif %}
    
{% endblock %}
