{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ recipe['title'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ recipe['created'] }}</span>
    <div class="tags">
        {% for tag in tags_to_recipe %}
            <p>{{ tag }}</p>
        {% endfor %}
    </div>
    <div>
        <img src="{{ recipe['image'] }}" alt="img">
    </div>

    <div id="inputing">
        <h4>Ингредиенты</h4>
        {% for key in ingredients %}
            <div>
                <p>{{ key['ingredient'] }}</p>
                <p>{{ key['quantity'] }}</p>
                <p>{{ key['quantity_spoon'] }}</p>
            </div>
            
        {% endfor %}
    </div>

    <table class="table">
        <thead>
          <tr>
            <th class="is-size-5 has-text-weight-medium">Ингредиент</th>
            <th class="is-size-5 has-text-weight-medium">Объём</th>
            <th class="is-size-5 has-text-weight-medium">Количество</th>
          </tr>
        </thead>
        <tfoot>
            <tr>
              <th class="has-text-weight-light is-size-6">Название</th>
              <th class="has-text-weight-light is-size-6">Граммы/литры</th>
              <th class="has-text-weight-light is-size-6">Ложки</th>
            </tr>
          </tfoot>
        <tbody>
            {% for key in ingredients %}
            <tr>
                <td>{{ key['ingredient'] }}</td>
                <td>{{ key['quantity'] }}</td>
                <td>{{ key['quantity_spoon'] }}</td>
            </tr>
            
            {% endfor %}
        </tbody>
    </table>

    <div class="recipe">
        {{ recipe['recipe'] }}
    </div>

    <p>{{ recipe['source'] }}</p>

    <div class="is-right">
        <a href="{{ recipe['url'] }}/edit" class="button is-success is-light">Редактировать</a>
        <a href="{{ recipe['url'] }}/delete" class="button is-danger is-light">Удалить</a>
    </div>
{% endblock %}